/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/jung-ho-park-om4HyUb_3m8-unsplash.jpg);
    background-image: no-repeat;
    background-repeat: no-repeat;
    background-image: fixed;
    background-image: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */
body{
    /* Para que funcione correctamente en Smartphones y Tablets */
    height:100vh;
}
body {
    /* Ruta relativa o completa a la imagen */
    background-image: url(/img/jung-ho-park-om4HyUb_3m8-unsplash.jpg);
    /* Centramos el fondo horizontal y verticalmente */
    background-position: center center;
    /* El fonde no se repite */
    background-repeat: no-repeat;
    /* Fijamos la imagen a la ventana para que no supere el alto de la ventana */
    background-attachment: fixed;
    /* El fonde se re-escala automáticamente */
    background-size: cover;
    /* Color de fondo si la imagen no se encuentra o mientras se está cargando */
    background-color: #FFF;

}